body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(114, 107, 107);
}

.name {
  padding-top: 20px;
  margin: 0;
}

.logo {
  height: 47px;
}

.menu {
  padding-top: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 28px;
  text-decoration: none;
  color: rgb(114, 107, 107);
}

li a:hover {
  opacity: 0.7;
}

.name {
  letter-spacing: 3px;
  text-align: center;
  font-size: 2em;
}

.footer {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 0.9em;
  color: rgb(140, 136, 136);
  padding-top: 90px;
  padding-bottom: 15px;
}
